<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그 분석 검색</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin: 100px; }
        h1 { color: #333; }
        .container { max-width: 500px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; }
        input { width: 80%; padding: 10px; font-size: 16px; }
        button { padding: 10px 20px; font-size: 16px; margin-top: 10px; cursor: pointer; }
    </style>
</head>
<body>
    <div class="container">
        <h1>📊 블로그 분석 검색</h1>
        <p>티스토리 검색어를 입력하세요:</p>
        <input type="text" id="queryInput" placeholder="예: 백엔드 개발">
        <br>
        <button onclick="searchTstoryKeyword()">검색어 지정</button>
        <br>
        <p>URL을 입력하세요:</p>
        <input type="text" id="queryInput2" placeholder="예: https://lcoding.tistory.com/199">
        <br>
        <button onclick="searchTstoryUrl()">URL 지정</button>
        <br>
        <p>네이버 검색어를 입력하세요:</p>
        <input type="text" id="queryInput3" placeholder="예: 백엔드 개발">
        <br>
        <button onclick="searchNaverKeyword()">검색어 지정</button>
    </div>


    <script>
        function searchTstoryKeyword() {
            let query = document.getElementById("queryInput").value;
            if (query.trim() !== "") {
                window.location.href = `/dashboard2/?query=${encodeURIComponent(query)}&max_results=5&top_n=5`;
            } else {
                alert("검색어를 입력해주세요!");
            }
        }
         function searchTstoryUrl() {
            let query = document.getElementById("queryInput2").value;
            if (query.trim() !== "") {
                window.location.href = `/dashboard/?url=${encodeURIComponent(query)}`;
            } else {
                alert("url을 입력해주세요!");
            }
        }
        function searchNaverKeyword() {
            let query = document.getElementById("queryInput3").value;
            if (query.trim() !== "") {
                // https://search.naver.com/search.naver?where=post&query=백엔드 개발
                window.location.href = `/dashboard/?url=${encodeURIComponent(query)}`;
            } else {
                alert("url을 입력해주세요!");
            }
        }
    </script>
</body>
</html>
